# Tipo de banco de dados (mysql ou sqlite)
DB_TYPE=mysql

# Configurações MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=rtondev
DB_PASSWORD="oy1kwlf0A#1"
DB_NAME=enemlife

# Chaves de segurança
SECRET_KEY=sua-secret-key-aqui-2025
JWT_SECRET_KEY=sua-jwt-secret-key-aqui

# Configurações do servidor
FLASK_ENV=production
FLASK_DEBUG=False

# Configurações de Email (Gmail)
MAIL_USERNAME=seu-email@gmail.com
MAIL_PASSWORD=fmzsoiqgxfiszmzo


